body {
  background-color: #243A36;
  font-family: "Poppins", sans-serif;
  color: white;
}

.navbar {
  transition: all 0.4s ease;
}

.navbar.trans {
  background: transparent !important;
}

.navbar-inverse {
  background-color: #243A36;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: white !important;
}

.btn-login {
  background-color: #036f2e;
  color: white;
}
.btn-login:hover {
  background-color: #7B9242;
  color: white;
}

.btn-drop {
  text-align: center;
  background-color: #036f2e;
  color: white;
}
.btn-drop:hover {
  background-color: #7B9242;
  color: white;
}

ul.dropdown-menu {
  text-align: center;
}

header {
  padding: 300px 0 300px;
  z-index: -1;
  background-image: url("../images/Header.jpg");
  background-size: cover;
}
header h1, header p {
  color: #fff;
}
header h1 {
  font-family: "Poppins", serif;
  font-weight: bold;
  font-size: 60px;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #c45824;
  color: #fff;
}
header .btn-get-started:hover {
  background-color: #7B9242;
  color: #fff;
}

.section-wisata {
  min-height: 500px;
  background-color: #243A36;
  margin-bottom: -400px;
}
.section-wisata .section-wisata-heading {
  margin-top: 100px;
  margin-bottom: 500px;
}
.section-wisata .section-wisata-heading h2,
.section-wisata .section-wisata-heading p {
  color: #fff;
}
.section-wisata .section-wisata-heading h2 {
  font-family: "Poppins", serif;
  color: white;
  font-size: 40px;
}
.section-wisata .section-wisata-heading p {
  font-size: 18px;
}

.section-wisata-content .section-wisata-travel .card-travel {
  min-height: 450px;
  background-color: #ddd;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}
.section-wisata-content .section-wisata-travel .travel-location {
  font-size: 18px;
  color: #fff;
}
.section-wisata-content .section-wisata-travel .travel-button .btn-travel-details {
  background-color: #c45824;
  color: #fff;
}
.section-wisata-content .section-wisata-travel .travel-button .btn-travel-details:hover {
  background-color: #7B9242;
  color: #fff;
}

.section-morefromus-heading {
  background-image: url("../images/Background.jpg");
  background-size: cover;
  padding-top: 100px;
  min-height: 700px;
}
.section-morefromus-heading h2 {
  font-family: "Poppins", serif;
  font-size: 40px;
  text-align: center;
}
.section-morefromus-heading p {
  font-size: 18px;
}

.section-merchandise {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 10px;
  text-align: center;
}
.section-merchandise h3 {
  font-family: "Poppins", serif;
  font-size: 40px;
  margin-bottom: 25px;
}
.section-merchandise p {
  font-size: 18px;
}
.section-merchandise .card-merchandise {
  background-color: transparent;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  max-width: 400px;
  border-radius: 10px;
  display: flex;
}

.section-merchandise-content .section-merchandise-item #recipeCarousel {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item > div {
    display: none;
  }
  .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item.active, .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-start, .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-next, .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-right.active, .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
  }
  .section-merchandise-content .section-merchandise-item .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }
  .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-left.active, .section-merchandise-content .section-merchandise-item .carousel-item-prev:not(.carousel-item-end), .section-merchandise-content .section-merchandise-item .active.carousel-item-start, .section-merchandise-content .section-merchandise-item .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
  .section-merchandise-content .section-merchandise-item .carousel-item-next.carousel-item-start, .section-merchandise-content .section-merchandise-item .active.carousel-item-end {
    transform: translateX(0) !important;
  }
  .section-merchandise-content .section-merchandise-item .carousel-inner .carousel-item-prev, .section-merchandise-content .section-merchandise-item .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
  }
}
.section-merchandise-content .section-merchandise-item .card-merchandise-item {
  min-height: 300px;
  background-color: #ddd;
  color: #fff;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
.section-merchandise-content .section-merchandise-item .item-location {
  font-size: 18px;
  color: #fff;
  margin: 20px;
}
.section-merchandise-content .section-merchandise-item .item-button {
  margin: 20px;
}
.section-merchandise-content .section-merchandise-item .item-button .btn-merchandise-details {
  background-color: #c45824;
  color: #fff;
}
.section-merchandise-content .section-merchandise-item .item-button .btn-merchandise-details:hover {
  background-color: #7B9242;
  color: #fff;
}

.section-morefromus-content {
  margin-top: -400px;
  margin-bottom: 50px;
  margin-inline-start: 50px;
  margin-inline-end: 50px;
}
.section-morefromus-content .card-morefromus {
  background-color: transparent;
  border: transparent;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
}
.section-morefromus-content .card-morefromus .morefromus-content {
  min-height: 50px;
}
.section-morefromus-content .card-morefromus .mb-4 {
  font-size: 18px;
  color: #fff;
}
.section-morefromus-content .card-morefromus .icon1 {
  font-size: 14px;
  color: #fff;
}

footer {
  position: absolute;
  display: block;
  width: 100%;
}
footer .section-footer {
  margin-bottom: 10px;
}

.section-details-header {
  min-height: 310px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-details-content .breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}
.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #fff;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 10px;
}
.section-details-content .card-details h1 {
  font-size: 36px;
}
.section-details-content .card-details h2 {
  font-size: 20px;
  font-style: normal;
}
.section-details-content .card-details h3 {
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.section-details-content .card-details h4 {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-details-content .card-details p {
  font-size: 18px;
  color: black;
}
.section-details-content .features {
  margin-top: 20px;
}
.section-details-content .features h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}
.section-details-content .features h2 {
  font-size: 12px;
  color: black;
}
.section-details-content .features p {
  margin-bottom: 0px;
}
.section-details-content .description {
  margin-left: 10px;
  width: auto;
  overflow: hidden;
  float: left;
}
.section-details-content .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}
.gallery .xzoom-container .xzoom {
  width: 400px;
  height: 400px;
  box-shadow: none;
  margin: 10px;
}
.gallery .xzoom-container .xactive {
  border: 4px solid #243A36;
  margin: 10px;
}

.wrapper {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border-radius: 8px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper span.num {
  font-size: 16px;
  border-right: 2px;
  pointer-events: none;
}

.input-group-append {
  cursor: pointer;
}

.join-container {
  margin-top: 16px;
  align-items: center;
  text-align: center;
}

.btn-join-now {
  background-color: #7B9242;
  color: #fff;
  border-radius: 8px;
}
.btn-join-now:hover {
  background-color: #036f2e;
  color: #fff;
}

.section-order-header {
  min-height: 310px;
}

.section-order-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-order-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-order-content .breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}
.section-order-content .breadcrumb-item.active {
  font-weight: bold;
  color: #fff;
}
.section-order-content .card-details {
  padding: 30px;
  border-radius: 10px;
}
.section-order-content .card-details h1 {
  font-size: 36px;
}
.section-order-content .card-details h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
.section-order-content .card-details h3 {
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.section-order-content .card-details h4 {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-order-content .card-details p {
  font-size: 18px;
  color: black;
}
.section-order-content .features {
  margin-top: 20px;
}
.section-order-content .features h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}
.section-order-content .features h2 {
  font-size: 12px;
  color: black;
}
.section-order-content .features p {
  margin-bottom: 0px;
}
.section-order-content .description {
  margin-left: 10px;
  width: auto;
  overflow: hidden;
  float: left;
}
.section-order-content .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}
.gallery .xzoom-container .xzoom {
  width: 400px;
  height: 400px;
  box-shadow: none;
  margin-bottom: 10px;
}
.gallery .xzoom-container .xactive {
  border: 4px solid #243A36;
}

.wrapper {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border-radius: 8px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper span.num {
  font-size: 16px;
  border-right: 2px;
  pointer-events: none;
}

.input-group-append {
  cursor: pointer;
}

.join-container {
  margin-top: 16px;
  align-items: center;
  text-align: center;
}

.num {
  text-decoration: none;
  color: black;
}

.text-currency {
  align-items: end;
  text-align: end;
  text-decoration: none;
  color: black;
  padding-left: 110px;
}

.no-outline {
  border: none;
  outline: none;
  text-align: start;
  align-items: start;
}

.btn-join-now {
  background-color: #7B9242;
  color: #fff;
  border-radius: 8px;
}
.btn-join-now:hover {
  background-color: #036f2e;
  color: #fff;
}

.section-order-details-header {
  min-height: 310px;
}

.section-order-details-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-order-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-order-details-content .breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}
.section-order-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #fff;
}
.section-order-details-content .card-payment-details {
  padding: 30px;
  border-radius: 10px;
}
.section-order-details-content .card-payment-details h1 {
  font-size: 36px;
}
.section-order-details-content .card-payment-details h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
.section-order-details-content .card-payment-details h3 {
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.section-order-details-content .card-payment-details h4 {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-order-details-content .card-payment-details p {
  font-size: 18px;
  color: black;
}
.section-order-details-content .features {
  margin-top: 20px;
}
.section-order-details-content .features h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}
.section-order-details-content .features h2 {
  font-size: 12px;
  color: black;
}
.section-order-details-content .features p {
  margin-bottom: 0px;
}
.section-order-details-content .description {
  margin-left: 10px;
  width: auto;
  overflow: hidden;
  float: left;
}
.section-order-details-content .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}

.wrapper {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border-radius: 8px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper span.num {
  font-size: 16px;
  border-right: 2px;
  pointer-events: none;
}

.input-group-append {
  cursor: pointer;
}

.join-container {
  margin-top: 16px;
  align-items: center;
  text-align: center;
}

.btn-join-now {
  background-color: #7B9242;
  color: #fff;
  border-radius: 8px;
}
.btn-join-now:hover {
  background-color: #036f2e;
  color: #fff;
}

.section-order-header {
  min-height: 310px;
}

.section-order-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-order-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-order-content .breadcrumb-item a {
  text-decoration: none;
  color: #fff;
}
.section-order-content .breadcrumb-item.active {
  font-weight: bold;
  color: #fff;
}
.section-order-content .card-details {
  padding: 30px;
  border-radius: 10px;
}
.section-order-content .card-details h1 {
  font-size: 36px;
}
.section-order-content .card-details h2 {
  font-size: 20px;
  font-style: normal;
}
.section-order-content .card-details h3 {
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.section-order-content .card-details h4 {
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-order-content .card-details p {
  font-size: 18px;
  color: black;
}
.section-order-content .features {
  margin-top: 20px;
}
.section-order-content .features h3 {
  font-size: 18px;
  color: black;
  margin-bottom: 0px;
}
.section-order-content .features h2 {
  font-size: 12px;
  color: black;
}
.section-order-content .features p {
  margin-bottom: 0px;
}
.section-order-content .description {
  margin-left: 10px;
  width: auto;
  overflow: hidden;
  float: left;
}
.section-order-content .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery-about .xzoom-container-sm {
  display: block;
}
.gallery-about .xzoom-container-sm .xzoom {
  width: 1000px !important;
  height: 600px;
  box-shadow: none;
  margin-bottom: 10px;
}
.gallery-about .xzoom-container-sm .xactive {
  border: 4px solid #243A36;
  height: 50px;
}

.wrapper {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border-radius: 8px;
}

.wrapper span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.wrapper span.num {
  font-size: 16px;
  border-right: 2px;
  pointer-events: none;
}

.input-group-append {
  cursor: pointer;
}

.join-container {
  margin-top: 16px;
  align-items: center;
  text-align: center;
}

.btn-join-now {
  background-color: #7B9242;
  color: #fff;
  border-radius: 8px;
}
.btn-join-now:hover {
  background-color: #036f2e;
  color: #fff;
}

.page-login {
  z-index: -1;
  height: 100vh;
  background-image: url("../images/Header@2x.jpg");
  background-size: cover;
}
.page-login .logo {
  height: 50px;
  width: 120px;
  text-align: center;
}
.page-login .btn-login {
  background-color: #ff9e53;
  color: #fff;
}
.page-login .btn-login:hover {
  color: #fff;
}

.page-register {
  z-index: -1;
  height: 100vh;
  background-image: url("../images/Background.jpg");
  background-size: cover;
}
.page-register .logorg {
  height: 50px;
  width: 120px;
  text-align: center;
}
.page-register .btn-register {
  background-color: #ff9e53;
  color: #fff;
}
.page-register .btn-register:hover {
  color: #fff;
}

.page-reset {
  height: 100vh;
  background-image: url("../images/Background.jpg");
  background-size: cover;
}
.page-reset .logorg {
  height: 50px;
  width: 120px;
  text-align: center;
}
.page-reset .btn-register {
  background-color: #ff9e53;
  color: #fff;
}
.page-reset .btn-register:hover {
  color: #fff;
}

.container-email .card {
  margin-top: 200px;
}
.container-email .card-header {
  background-color: #036f2e;
  color: #ffffff;
}
.container-email .card-body {
  padding: 20px;
}
.container-email .form-group {
  margin-bottom: 20px;
}
.container-email .form-control {
  border-radius: 5px;
}
.container-email .btn-primary {
  background-color: #036f2e;
  border: 1px solid #243A36;
}
.container-email .btn-primary:hover {
  background-color: #7B9242;
  border: 1px solid #7B9242;
}
@media (max-width: 576px) {
  .container-email .card {
    margin-top: 20px;
  }
  .container-email .card-body {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .container-email .form-group {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=main.css.map */