body {
    background-color: #f6f5f5;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
}

//Navbar

.navbar-brand{
    img {
        max-height: 50px;
    }
}

.navbar-light {
    color: #858585;
    .navbar-nav {
        .nav-link {
            color: #ffff;

            &.active {
                font-weight: bold;
                color: #ffff !important;

            }
        }
    }
}

.btn-login {
    background-color: #32514B;
    color: #ffff;

    &:hover {
        background-color: #036f2e;
        color: #ffff;
    }
}

//Header

 header {
     padding: 220px 0 200px;
     margin-top: -80px;
     background-image: url('../images/Header.jpg');
     background-size: cover;

     h1, p {
        color: #fff;

     }

     h1 {
        font-family: 'Poppins',
        serif;
        font-weight: bold;
        font-size: 50px;
     }

     p {
        font-size: 22px;
     }

     .btn-get-started {
        background-color: #7B9242;
        color: #fff;

        &:hover {
            background-color: #036f2e;
            color: #fff;
        }
     }
 }